services:
  db:
    image: postgres:15
    container_name: smarthome_db
    restart: always
    environment:
      POSTGRES_USER: aris
      POSTGRES_PASSWORD: aris
      POSTGRES_DB: smarthome
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped
    entrypoint: /bin/sh
    command: -c "ollama serve & sleep 5 && ollama pull qwen2.5:7b && wait"

  api:
    build:
      context: .
    container_name: smarthome_api
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app
      - DATABASE_URL=postgresql+asyncpg://aris:aris@db:5432/smarthome
    volumes:
      - .:/app  
    depends_on:
      - db
      - ollama

volumes:
  ollama_data:
  postgres_data:
